aiofiles==25.1.0
aiohttp==3.13.3
anyio==4.12.1
APScheduler==3.11.2
bcrypt==5.0.0
beautifulsoup4==4.14.3
certifi==2026.5.20
cryptography==46.0.5
email-validator==2.3.0
fastapi==0.128.0
holidays==0.90
httpx==0.28.1
Jinja2==3.1.6
libsql==0.1.11
libsql-client==0.3.1
loguru==0.7.3
lxml==6.0.2
multidict==6.7.1
numpy==2.4.2
openpyxl==3.1.5
pandas==3.0.0
passlib==1.7.4
pillow==12.1.1
pydantic==2.12.5
pydantic-settings==2.8.0
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.22
pytz==2025.2
requests==2.32.5
rich==14.3.2
selenium==4.44.0
six==1.17.0
SQLAlchemy==2.0.48
starlette==0.50.0
tzdata==2025.3
uvicorn[standard]==0.40.0
watchfiles==1.1.1
websockets==13.1
